body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.title {
    font-size: 3rem;
    color: #131f85;
    text-align: center;
    animation: bounce 2s infinite;
}

.sub-title {
    font-size: 1.5rem;
    color: #333;
    text-align: center;
    margin-top: 20px;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}


.carousel-container {
    width: 100%;
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 1s;
}

.carousel-item {
    min-width: 100%;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.carousel-item img {
    width: 100%;
    height: auto;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 20px;
    text-align: center;
}

.carousel-caption h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.carousel-caption p {
    font-size: 16px;
}

.carousel-control {
    cursor: pointer;
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: background 0.3s;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    background: rgba(0, 0, 0, 0.7);
}

.carousel-control-prev {
    left: 20px;
}

.carousel-control-next {
    right: 20px;
}
